@charset "UTF-8";
html {
  font-size: 100%;
}
header {
  display: flex;
  position: fixed;
  top: 30px;
  left: 150px;
  justify-content:space-between;
  align-items:flex-end;
  gap: 650px;
  
}
.logo img {
  height: 150px;
  width: 250px;
}
a {
  color: #ff8c00;             
  font-weight: bold;
  font-size: 3rem;
  transition: color 0.3s;
}
a:hover {
  color: #d46f00;             
}
body {
  background-image: url(../img/background.png);
  color: #fe8602;
  font-family: 'YuGothic','Yu Gothic',sans-serif;
  text-shadow: 2px 2px 2px #ffffff;
}
.mainvisual  {
  text-align: center;
}
.mainvisual img {
  display: inline-block;
  max-width: 100%;
  height: auto;
  padding-top: 160px;
}
.welcome {
  text-align: center;
  margin-top: 80px;
}
.access {
  text-align: center;
  margin-top: 80px;
}
.section-title {
  display: inline-block;
  font-size: 2.5rem;
  margin: 50px;
  border-bottom: 2px solid #fe8602;
}
.welcome .img {
  margin-left: 660px;
}
.flex {
  display: flex;
}
.welcome .img2 {
  margin-left: 180px;
}
.text {
  margin-top: 150px;
  font-size: 1.2rem;
  font-weight: bold;
}
.access .flex {
  justify-content: center;
  gap: 100px;
}
.to-menu {
  text-align: center;
  margin-top: 200px;
}
.footer-inner {
  font-size: 1.5rem;
  color: #545454;
  text-align: center;
  margin-top: 150px;
  margin-bottom: 50px;
}


/*-----------------------------
スマートフォン
-------------------------------*/
@media screen and (max-width: 767px){
  
}