@charset "UTF-8";

/*****************************
共通スタイル
*****************************/
html {
  font-size: 100%;
  font-weight: bold;
}
a {
  color: #ff8c00;             
  font-weight: bold;
  font-size: 3rem;
  transition: color 0.3s;
}
a:hover {
  color: #d46f00;             
}
.text {
  margin-top: 150px;
  font-size: 1.2rem;
}

/*****************************
ヘッダーのスタイル
*****************************/
header {
  display: flex;
  position: fixed;
  top: 30px;
  left: 150px;
  justify-content:space-between;
  align-items:flex-end;
  gap: 650px;
}
.logo img {
  height: 150px;
  width: 250px;
}
/****************************
ハンバーガーメニューのスタイル
*****************************/
.hamburger {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  width: 30px;
  height: 24px;
  position: relative;
}
.hamburger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  background: #fe8602;
  border-radius: 2px;
  transition: 0.3s;
}
.hamburger span:nth-child(1) { top: 0; }

.hamburger {
  display: none; 
}
/******************************
ボディ共通スタイル
******************************/
body {
  background-image: url(../img/background.png);
  color: #fe8602;
  font-family: 'YuGothic','Yu Gothic',sans-serif;
  text-shadow: 2px 2px 2px #ffffff;
}

/****************************
フッターのスタイル
****************************/
.footer-inner {
  font-size: 1.5rem;
  color: #545454;
  text-align: center;
  margin-top: 150px;
  margin-bottom: 50px;
}

/*******************************
メイン画像のスタイル
*******************************/
.mainvisual  {
  text-align: center;
}
.mainvisual img {
  display: inline-block;
  max-width: 100%;
  height: auto;
  padding-top: 160px;
}

/*******************************
見出しのスタイル
********************************/
.welcome,  .access, .menu {
  text-align: center;
  margin-top: 80px;
}
.section-title {
  display: inline-block;
  font-size: 2.5rem;
  margin: 50px;
  border-bottom: 2px solid #fe8602;
}

/*********************************
ようこそCafeのスタイル
*********************************/
.welcome .img {
  margin-left: 660px;
}
.flex {
  display: flex;
}
.welcome .img2 {
  margin-left: 180px;
}

/********************************
アクセスのスタイル
*********************************/
.access .flex {
  justify-content: center;
  gap: 100px;
}
.access .flex .text address a{
  font-size: 1.2rem;
}

/********************************
Googleマップのスタイル
*********************************/
.map {
  position: relative;
  width: 600px;
  height: 450px;
  overflow: hidden;
  border-radius: 8px;   
}
.map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

/*******************************
Menu、アクセスへ移動するボタンのスタイル
********************************/
.to-go {
  text-align: center;
  margin-top: 200px;
}

/*******************************
Menuのスタイル
*********************************/
.menu .text {
  margin-top: 0px;
}
.menu .flex {
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px;
  margin: 50px;
}
.menu .flex>div {
  flex-basis: 30%;
}


/*-----------------------------
スマートフォン
-------------------------------*/
@media screen and (max-width: 767px){
    header {
    flex-direction: row;
    align-items: center;
    gap: 20px;
    position: static;
  }
   nav  {
    display: none; 
    flex-direction: column;
    background: #fff;
    position: absolute;
    top: 60px; left: 0; right: 0;
    padding: 1rem;
    border-top: 2px solid #fe8602;
    text-align: center;
    z-index: 10;
  }
  .nav-menu a {
    font-size: 1.5rem;   
  }
  .nav-menu.active {
    display: flex; 
  }

  .hamburger {
    display: block; 
  }
  .hamburger.active span:nth-child(1) {
    transform: rotate(45deg);
    top: 10px;
  }

  .hamburger.active span:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active span:nth-child(3) {
    transform: rotate(-45deg);
    top: 10px;
  }
  
  .logo img {
    height: 50px;
    width: 100px;
  }
  .mainvisual img {
  padding-top: 20px;
  }
  .welcome, .access {
  margin-top: 100px;
  }
  .section-title {
  margin: 10px;
  font-size: 2rem;
  }
  .welcome .img {
    margin-left: 0;
    margin-bottom: 30px;
  }
  .welcome .img2 {
    margin-left: 0;
  }
  .flex {
    flex-direction: column;
    align-items: center;
  }
  .text {
  margin-top: 40px;
  font-size: 0.8rem;
  font-weight: bold;
  }
.access .flex .text address a{
  font-size: 1em;
  }
.map {
  width: 100%;
  height: 0;         
  padding-top: 70%;  
  }
  .menu .flex {
  margin: 0px;
  }
  .to-go {
    margin-top: 100px;
  }
  .to-go a {
    font-size: 1.5rem;
  }
  .footer-inner {
  font-size: 1rem;
  text-align: right;
  margin-top: 100px;
  margin-bottom: 200px;
  }
}